/* .login-form {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  top: 30%;
  left: 20%;

}

.login-form h2 {
    margin-bottom: 15px;
}

.login-form__input {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  
}

.error-msg {
    margin: 5px 0;
    color: red;
}

.show-password__btn-div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.test {
    background-color: red;
} */