* {
  padding: 0;
  margin: 0;
  /* background-color: #291f43; */
}

/* html {
  background-color: #18132b;
    background-color: #322651;
} */


/* .background-img {
  height: 91vh;
  background-image: url("./components/assets/gaming_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.home__background-img {
  background-image: url("./components/assets/gaming_bg1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */
