* {
  padding: 0;
  margin: 0;
  /* background-color: #291f43; */
}

html {
  background-color: #18132b;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #322651;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.background-img {
  height: 91vh;
  background-image: url("./components/assets/gaming_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.home__background-img {
  background-image: url("./components/assets/gaming_bg1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-layout {
  /* display: flex;
  flex-direction: row;
  padding: 25px 0; */
  display: grid;
  grid-template-columns: 25% 55% 20%;
  padding: 25px 0;

}
.post-form {
  padding-right: 15px;
}

.post-form form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.post-form__input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.postCard {
  border: 1px solid black;
  padding: 5px;
  border-radius: 8px;
  width: 50%;
  margin: auto;
  background-color: white;
}

.align-items {
  display: flex;
  align-items: center;
}

.comment-container {
  margin: 10px 0
}
/* .app-container {
  padding: 35px;
} */

/* .postCard {
  border: 1px solid black;
  padding: 5px;
  border-radius: 8px;
}




.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.jc-between {
  display: flex;
  justify-content: space-between;
}

.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.p2 {
  padding: 2px;
}

img {
  height: 50px;
  border-radius: 25%;
}

.bg-primary {
  background-color: azure;
}

.action-container {
  display: flex;
}

.action-container p {
  margin: 0
}

.action-container div:first-child {
  margin-right: 15px;
}

.align-center {
  display: flex;
  align-items: center;
}

.button-liked {
  background-color: aqua;
}

.post-comment__container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 5px;
}

.post-comment__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-comment__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-comment__info p {
  margin: 0;

}

.comment-avatar {
  height: 25px;
}

.moment-date {
  color: grey;
  font-weight: lighter;
  font-size: smaller;
} */
