.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  padding: 35px;
}

.postCard {
  border: 1px solid black;
  padding: 5px;
  margin: 10px 250px;
  border-radius: 8px;
}

.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.jc-between {
  display: flex;
  justify-content: space-between;
}

.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.p2 {
  padding: 2px;
}

img {
  height: 50px;
  border-radius: 25%;
}

.bg-primary {
  background-color: azure;
}

.action-container {
  display: flex;
}

.action-container p {
  margin: 0
}

.action-container div:first-child {
  margin-right: 15px;
}

.align-center {
  display: flex;
  align-items: center;
}

.button-liked {
  background-color: aqua;
}

.post-comment {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 2px;
  align-items: center;
}

.post-comment__info {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
}
.post-comment__info p {
  margin: 0 8px;

}

.comment-avatar {
  height: 25px;
}