/* #user-profile__nav span {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0.5em 0;
  padding: 0.5em;
} */

/* #user-profile__nav span:hover {
  background-color: rgb(107 80 175/0.5);
  border-radius: 15px;
} */
