.links {
  text-decoration: none;
  margin-left: 5px;
}

.navigation-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #291f43;
  padding: 5px 15px;
}

.navigation-bar__primary {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-bar__primary img {
  height: 60px;
  border-radius: 50%;
}

.logged-in__menu {
  display: flex;
  align-items: center;
}

.user-greeting {
  color: white;
}

.post__user-info {
  display: flex;
  flex-direction: row;
}

.avatar {
  height: 35px;
}

.post_action-container {
  display: flex;
  flex-direction: row;
}

.post_action-buttons {
  display: flex;
  flex-direction: row;
}

.user-list {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.user-list__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #291f43;
  padding: 5px;
  border-radius: 8px;
  margin: 15px 0;
  align-items: center;

}

.user-list__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.user-list__info img {
  height: 15px;
  margin-right: 10px;
}

.follow-button {
  background: none;
  color: #291f43;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1px;
  background-color: white;
}
